# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*
*.pid
*.seed
*.pid.lock

# Database files
*.sqlite
*.sqlite3
*.db

# Build files
/build
/dist
/public/static
/public/env.js

# Editor files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# React-related
.env.local
.env.development.local
.env.test.local
.env.production.local
/.next
/out
/.cache
